 * {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     scroll-behavior: smooth;
     background: rgb(13, 22, 41);
 }
 section{
    display: grid;
    place-items: center;
    align-items: center;
 }
 header {
     background: rgb(13, 22, 41);
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 30px 0px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1.5em;
     color: gainsboro;
     margin-left: 30px;
     z-index: 9999;
 }

 .navigation {
     display: flex;
     z-index: 9999;
 }

 .navigation li {
     list-style: none;
 }

 .navigation li a {
     position: relative;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1.1em;
     color: gainsboro;
     margin-right: 40px;
     text-decoration: none;
     transition: 0, 25s;
 }

 .navigation li a:hover {
     color: #00a1ff;
     transform: scale(1.05);
     transition: all 1s ease;
 }

 /*HOME*/

 #home {
     background: rgb(13, 22, 41);
     min-height: 90vh;
     justify-content: center;
     text-align: center;
     padding: 110px 0px;
     color: gainsboro;
 }

 .home-hero {
     display: block;
     margin-left: auto;
     margin-right: auto;
     font-size: 2rem;
 }

 .home-hero h1 {
     font-weight: bolder;
     background-size: 100%;
     line-height: 70px;
     background-image: linear-gradient(to right, #5703b6, #0062da, #00a1ff, #00c9fb, #12ebe6);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
 }

 .home-hero h3 {
     color: gainsboro;
     margin-bottom: 50px;
     margin-top: 80px;
     margin-left: auto;
     margin-right: auto;
     font-size: 2.5vh;
     letter-spacing: 3px;
 }

 .home-hero .underText {
     color: gainsboro;
     font-size: 3.2vh;
     font-weight: lighter;
     line-height: 28px;
     display: flex;
     text-align: center;
     width: 40%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     line-height: 35px;
 }

 button {
     width: 20%;
     background: #00a1ff;
     border-radius: 20px;
     border: 0;
     cursor: pointer;
     color: whitesmoke;
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 2px;
     padding-top: 10px;
     padding-bottom: 15px;
     transition: all 0.3s;
     margin-top: 40px;
 }

 button:hover {
     transform: scale(1.05);
     transition: all 1s ease;
 }

 /*ABOUT*/

 #about {
     background: rgb(13, 22, 41);
     display: block;
     justify-content: center;
     margin: 0;
 }

 .main-about {
     background: rgb(13, 22, 41);
     width: 100%;
     position: relative;
 }

 .container-about {
     display: flex;
     flex-wrap: wrap;
     margin-left: 250px;
     margin-right: 250px;
     gap: 40px;
 }

 .text-section {
     flex: 50%;
     line-height: 40px;
     background: rgb(13, 22, 41);
     color: gainsboro;
     font-size: 3vh;
     font-weight: lighter;
 }

 #image-about {
     display: flex;
     width: 350px;
     height: 350px;
     border-radius: 1px;
     border-radius: 10px;
 }

 .about-sec-title {
     font-size: 2rem;
     color: gainsboro;
     display: block;
     letter-spacing: 1px;
     letter-spacing: 3px;
     text-align: center;
     margin-bottom: 50px;
     position: relative;
 }

 /* Clear floats after image containers */

 .row {
     display: grid;
     grid-template-columns: repeat(4, 0.2fr);
     grid-template-rows: 0.2fr;
     grid-column-gap: 5px;
     grid-row-gap: 0px;
     justify-content: center;
 }

 .column {
     background-color: rgb(7, 16, 31);
     border: 1px solid rgb(13, 22, 41);
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     border-radius: 12px;
     margin: 10px;
 }

 .column :hover {
     cursor: pointer;
 }

 .skills-about-title {
     color: gainsboro;
     padding: 9rem 0rem;
     display: block;
     letter-spacing: 1px;
     text-align: center;
     margin-bottom: -100px;
     margin-top: 0px;
     margin-left: 25px;
 }

 .skills-logo {
     height: 70px;
     object-fit: cover;
     padding: 25%;
     margin-left: 30px;
     background-color: rgb(7, 16, 31);
 }

 /*PROJECTS*/

 #projects {
     background: rgb(13, 22, 41);
     justify-content: center;
     display: flex;
     height: 50rem;
     padding: 10rem 0;
     flex-wrap: wrap;
 }

 .projects-sec-title {
     color: gainsboro;
     display: block;
     font-size: 2rem;
     letter-spacing: 1px;
     letter-spacing: 3px;
     text-align: center;
     justify-content: center;
     margin-top: -4rem;
     margin-left: 50%;
     margin-right: 50%;
     position: relative;
     display: block;
 }

 .projects-grid {
     width: 330px;
     height: 460px;
     margin: 10px;
     margin-top: -10rem;
     background: white;
     border-radius: 15px;
 }

 .projects-grid:hover {
     cursor: pointer;
     transform: scale(1.03);
     transition: all 1s ease;
 }

 .grid-image {
     height: 170px;
     margin-bottom: 15px;
     background-size: cover;
     border-radius: 15px 15px 0 0;
 }

 .projects-grid h2 {
     padding: 10px;
     background: #ffff;
 }

 .projects-grid p {
     padding: 10px;
     background: #ffff;
 }

 .projects-grid a {
     background-color: #00a1ff;
     color: #ffff;
     text-decoration: none;
     border-radius: 15px;
     padding: 15px 20px;
     display: block;
     text-align: center;
     margin: 20px 50px;
 }

 .projects-grid a:hover {
     transform: scale(1.08);
     transition: all 0.5s ease;
 }
 
 .pic-1 {
     background-image: url('./images/Tracker.png');
 }

 .pic-2 {
     background-image: url('./images/notes.png');
 }

 .pic-3 {
     background-image: url('./images/meme.png');
     object-fit: cover;
 }
 
 .pic-4 {
    background-image: url('./images/Intrasat.png');
}

 .projects-grid .columns {
     padding: 50px;
     display: grid;
     font-size: 20px;
     place-items: center;
     text-align: center;
     color: #190347;
     transition: 0.5s;
     border-radius: 10%;
 }

 .projects-grid .columns:hover {
     background: #dadada;
 }

 .projects-grid .columns p {
     margin-bottom: -3rem;
 }

 /*CONTACT*/

 #contact {
     background: rgb(13, 22, 41);
     display: block;
     text-align: center;
     height: 60rem;
 }

 .contact-sec-title {
     color: gainsboro;
     background: rgb(13, 22, 41);
     display: block;
     font-size: 2rem;
     letter-spacing: 1px;
     letter-spacing: 3px;
     text-align: center;
     margin-bottom: -5rem;
     margin-top: -10rem;
     position: relative;
 }

 .contact-main {
     border-radius: 20px;
     height: 45rem;
     padding: 5rem 0;
     background: rgb(13, 22, 41);
 }

 .contact-main h2 {
     color: #fff;
     text-align: center;
     line-height: 60%;
     padding: 2em;
     opacity: 1;
     transform: translate(0px, 0px);
     font-weight: bold;
 }

 .contact-main h3 {
     color: #fff;
     line-height: 170%;
     text-align: center;
     padding: 2em;
     padding-top: 5em;
     opacity: 1;
     transform: translate(0px, 0px);
 }

 .contact-main p {
     color: #fff;
     line-height: 170%;
     text-align: center;
     padding-top: 10em;
 }

 .social {
     color: #fff;
     font-size: 1.3rem;
     font-weight: bold;
     display: flex;
     text-align: center;
     justify-content: center;
     margin-top: 3em;
     margin-bottom: 2em;
     margin-right: auto;
     margin-left: auto;
     gap: 50px;
 }

 .resume {
     border: 2px solid #00c9fb;
     border-radius: 20px;
     padding: 10px 20px;
 }

 .linkedin {
     border: 2px solid #00c9fb;
     border-radius: 20px;
     padding: 10px 20px;
 }

 .github {
     border: 2px solid #00c9fb;
     border-radius: 20px;
     padding: 10px 20px;
 }

 .linkedin:hover {
     cursor: pointer;
     transition: 0.6s;
 }

 .github:hover {
     cursor: pointer;
     transition: 0.6s;
 }

 .resume:hover {
     cursor: pointer;
     transition: 0.6s;
 }

 input[type=text],
 select,
 textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
     border: 2px solid #00c9fb;
     border-radius: 20px;
     background: #f2f2f2;
 }

 input[type=submit] {
     width: 20%;
     background: #00a1ff;
     border-radius: 20px;
     border: 0;
     cursor: pointer;
     color: whitesmoke;
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 2px;
     padding-top: 10px;
     padding-bottom: 15px;
     transition: all 0.3s;
     margin-top: 25px;
 }

 input[type=submit]:hover {
     transform: scale(1.05);
     transition: all 1s ease;
 }

 label {
     color: #f2f2f2;
     font-weight: bold;
 }

 /* Style the container/contact section */

 .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 10px;
 }

 /* Create two columns that float next to eachother */

 .column__form {
     float: left;
     width: 50%;
     margin-top: 280px;
     display: block;
     position: absolute;
     width: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
 }


 /*FOOTER*/

 #footer {
     background: rgb(13, 22, 41);
     text-align: center;
     padding: 20px;
     color: #fff;
 }

 .hidden {
   opacity: 1;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 1s;
 }

 .show {
   opacity: 1;
   filter:blur(0);
   transform: translateX(0);
 }

 /*RESPONIVE*/

 @media (max-width:991px) {

     html,
     body {
         width: 100%;
         margin: 0;
         padding: 0;
         overflow-x: hidden;
     }

     #home {
         min-height: 100vh;
     }

     .home-hero {
         position: absolute;
         font-size: 1.8rem;
         top: 50%;
         left: 52%;
         transform: translate(-50%, -50%);
         max-width: 90rem;
         width: 80%;
     }

     .home-hero h3 {
         margin-left: auto;
         margin-right: auto;
         align-items: center;
         display: block;
     }

     .home-hero .underText {
         font-size: 2.5vh;
         line-height: 28px;
         width: 100%;
         padding-right: 10px;
     }

     button {
         width: 100%;
     }

     .skills-about-title {
         text-align: center;
         padding: 5rem 2rem;
         margin-left: 3px;
         margin-bottom: 5px;
     }

     .container-about {
         display: flex;
         margin-left: auto;
         margin-right: auto;
         text-align: left;
         font-weight: lighter;
         padding-left: 15px;
         padding-right: 10px;
     }

     .text-section {
         font-size: 2.5vh;
         line-height: 30px;
         font-weight: lighter;
         margin: 15px;
     }

     .row {
         grid-template-columns: repeat(2, 0.5fr);
     }

     .column {
         background-color: rgb(7, 16, 31);
         border: 1px solid rgb(13, 22, 41);
         box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
         border-radius: 12px;
         margin-left: 15px;
         margin-right: 15px;
     }

     .skills-logo {
         margin-right: 5px; 
         margin-left: 5px;
         border-radius: 12px;
     }

     #image-about {
         display: block;
         margin-left: auto;
         margin-right: auto;
     }

     #projects {
         background: rgb(13, 22, 41);
         height: 140rem;
         margin-top: 0em;
     }

     .projects-sec-title {
         margin-top: 2rem;
     }

     .projects-grid {
         margin-top: 3rem;
         height: 30rem;
         grid-template-columns: repeat(auto-fill, minmax(55%, 1fr));
         grid-template-rows: minmax(auto, auto);
     }

     .contact-sec-title {
         margin-top: 0rem;
     }

     .social {
         margin-top: 1em;
         gap: 5px;
         font-size: 1rem;
     }

     .toggle {
         position: relative;
         width: 30px;
         height: 60px;
         margin-right: 30px;
         background-color: transparent;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         z-index: 1000;
     }

     .toggle::before {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background: #fff;
         transform: translateY(-10px);
         transition: 0.25s;
         box-shadow: 0 10px 0 #fff;
     }

     .toggle.active::before {
         transform: translateY(0) rotate(45deg);
         box-shadow: 0 0 0 #fff;
     }

     .toggle::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background: #fff;
         transform: translateY(10px);
         transition: 0.25s;
     }

     .toggle.active {
         background: rgb(13, 22, 41);
         position: fixed;
         top: 30px;
         right: 30px;
     }

     .toggle.active::after {
         transform: translateY(0) rotate(-45deg);
         box-shadow: 0 0 0 #fff;
     }

     .navigation {
         display: none;
     }

     .navigation.active {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         z-index: 999;
         background: rgb(13, 22, 41);
     }

     .navigation li a {
         font-size: 2em;
         line-height: 2.5em;
         margin: 0;
         pad: 0;
         display: inline-block;
     }

     .navigation li a:hover {
         background: #00a1ff;
     }

     .logo {
         height: 30px;
         margin-left: 30px;
     }

     .more-project p {
         align-items: center;
         justify-content: center;
         text-align: center;
     }

     .contact-main {
         height: 45rem;
         padding: 10rem 0;
     }

     .about-sec-title {
         margin-left: 0rem;
     }

     .skills-icons {
         width: 75px;
         height: 295px;
         position: relative;
         top: 5px;
         margin-right: 10px;
     }

     input[type=submit] {
         width: 100%;
         padding: 20px;
         margin-left: 15px;
         padding: 10px;
     }

     .column__form {
         left: 49%;
     }

     /*tablet*/

     @media screen and (min-width: 768px) and (max-width: 1024px) {
         .home-hero {
             left: 50%;
         }

         .scroll-hero {
             left: 52%;
         }

         .container-about {
             padding-left: 35px;
             padding-right: 10px;
         }

         .text-section {
             font-size: 2.5vh;
             line-height: 35px;
             font-weight: lighter;
             margin: 50px;
         }
         .skills-logo {
            margin-left: 12px;
        }   

         #projects {
             height: 100rem;
             margin-top: 0em;
         }

         projects-grid {
             width: 330px;
             height: 760px;
             margin: 30px;
             margin-top: 0rem;
         }

         .skills-about {
             display: flex;
             grid-column-gap: 0px;
             padding: 1rem 35%;
             margin-right: 60px;
             margin-left: 50px;
             transform: translate(2%, 20%);
         }

         .about-sec-title {
             margin-left: auto;
             margin-right: auto;
         }

         .social {
             margin-top: 0;
         }
     }
    
 }